/************************
      Global Styles
*************************/

body {
	background-color: #FEFFFE;
	font-family: georgia, serif;
}

a {
	color: #68bf74;
}

table.table-bordered.dataTable {
	border-collapse: collapse !important;
}

table.dataTable {
	margin-top: 0px !important;
}

/************************
   ID Specific Elements 
*************************/

#navbar {
	border-bottom: 1px solid #68bf74;
}

#navbar .container-fluid {
	padding: 0px;
}

#navbar .navbar-header {
	margin-left: 8.33%;
}

#navbar .navbar-btn img {
	width: 202px;
	height: 28px;
}

.page-header {
	padding-left: 8.33%;
}

#homepage .jumbotron {
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 0px;
}

#homepageJumbotron {
	text-align: center;
	color: #68bf74;
}

#homepageJumbotron h1 {
	margin: 0 auto 50px;
	font-size: 42px;
	width: 50%;
}

#homepageMainSection {
	margin: 0 auto;
}

#homepageMainSection #homepageHeadline {
	float: left;
}

#homepageMainSection #homepageHeadline h1 {
	font-size: 45px;
	line-height: 1.2em;
}

#homepageSearch {
	padding: 20px 0 0;
}

#homepageContent {
	line-height: 1.5em;
	margin-top: 30px;
	text-align: left;
}

#navbar {
	background-color: #F2F1E9;
}

#aboutSection {
	text-align: center;
}

#aboutSection h3 {
	margin-top: 0;
	text-align: left;
}

#aboutSection .row {
	margin-bottom: 10px;
}

#aboutSection .separation {
	padding: 10px 0 25px;
}

#searchKeywords {
	font-size: 16px;
	margin: 20px 0;
}

#resultsSummary {
	padding: 30px 15px 15px;
	margin: 0 0 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #F2F1E9;
}

#resultsSummary h4 {
	margin-bottom: 20px;
}

#resultsSummary dt {
	font-weight: normal;
}

#resultsSummary dd {
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 15px;
	color: #5DAB68;
}

#resultsSummary dl {
	margin-bottom: 0;
}

#searchResults thead th {
	background-color: #F2F1E9 !important;
}

#searchResults tr.even td {
	background-color: #F2F1E9 !important;
}

#filterControls {
	border-radius: 4px;
	margin: 0 auto 5px;
	text-align: center;
}

#filterControls .btn {
	width: 49%;
	margin: 0;
	padding: 5px 0;
	background-color: #F2F1E9;
}

#filterControls .btn.btn-cancel {
	background-color: #fff;
}

#filterControls .btn.btn-submit,
#dataViewButtons .active {
	background-color: #68bf74;
	border: none;
	color: #fff;
}

#filterControls .btn.btn-submit:hover,
#dataViewButtons .active:hover {
	background-color: #5DAB68;
}

#dataViewButtons {
	height: 100%;
	text-align: center;
	background-color: #F2F1E9;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-top: 40px;
}

#dataViewButtons .btn {
	margin: 10px 0;
	height: 35px;
	width: 70%;
}

#dataViewButtons .btn.active {
	border: none;
}

#searchFilterPanel {
	margin-bottom: 10px !important;
}

#searchResultSection {

}

#footerNav {
	text-align: center;
}

#footerNav .logo {
	display: block;
	font-size: 14px;
}

#footerNav ul {
	margin-top: 25px;
	display: inline-block;
	width: 580px;
}

#footerNav ul li {
	font-size: 11px;
	float: left;
	width: 100px;
	border-left: 1px solid #ddd;
}

#footerNav ul li:first-child {
	border-left: none;
}

#footerNav ul li a {
	margin: 0;
	padding: 0;
}

#searchResults_paginate .pagination .disabled a {
	color: #777;
}

#searchResults_paginate .pagination .active a {
	background-color: #68bf74;
	border: 1px solid #68bf74;
	color: #fff;
}

#searchResults_paginate .paginate_button a {
	color: #68bf74;
}

/************************
        Classes 
*************************/

.filterHeader {
	background-color: #F2F1E9 !important;
}

.main-container {
    margin: 0 auto;
}

.region-footer ul {
	list-style: none;
}

.fontBold {
	font-weight: bold;
}

.clearfloat {
	clear: both;
	height: 0;
	line-height: 0;
	display: none;
}

.shim {
	height: 115px
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.col-centered {
    float: none;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

/************************
      Media Queries 
*************************/

/* Small Screens */
@media (max-width: 768px) {
	#homepageJumbotron h1 {
		font-size: 27px;
		width: 100%;
	}
}

/* Medium Screens */
@media (max-width: 992px) {
	#homepageJumbotron h1 {
		width: 100%;
	}
}

/* Large Screens */
@media (max-width: 1200px) {
}